createdAt: "2018-05-09T02:44:47.187Z"
updatedAt: "2018-05-21T09:03:16.063Z"
type: "SNIPPET_NOTE"
folder: "0a2024078fbd03e61b83"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
