createdAt: "2018-02-09T06:35:25.396Z"
updatedAt: "2018-03-23T09:55:10.024Z"
type: "SNIPPET_NOTE"
folder: "0a2024078fbd03e61b83"
title: "查看隐藏文件大小"
description: "查看隐藏文件大小"
snippets: [
  {
    name: "查看隐藏文件大小"
    mode: "Shell"
    content: "du -sh .[!.]* *"
  }
]
tags: []
isStarred: false
isTrashed: false
