createdAt: "2017-12-27T10:30:48.763Z"
updatedAt: "2017-12-27T10:30:58.755Z"
type: "SNIPPET_NOTE"
folder: "0a2024078fbd03e61b83"
title: "如何安全的删除 Linux LVM 中的 PV 物理卷"
description: "如何安全的删除 Linux LVM 中的 PV 物理卷"
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
