createdAt: "2018-01-04T07:11:49.663Z"
updatedAt: "2018-03-29T03:18:54.756Z"
type: "SNIPPET_NOTE"
folder: "0a2024078fbd03e61b83"
title: "awk 找出某个地市的数据"
description: "awk 找出某个地市的数据"
snippets: [
  {
    name: "awk"
    mode: "Shell"
    content: '''
      awk  'BEGIN{FS="|"}{if($3 != 037 ){print  $3}}' `ls STBPROGRAMINFO* | grep -v -E ".gz$"` 
      
      gunzip -c STBPROGRAMINFO*.gz | awk  'BEGIN{FS="|"}{if($8 >6000000 && $(NF-4)=="63"){print  $0}}' > /home/cmcc/cuijian_test/rawdata
      
      gunzip -c STBALARM*.gz | awk  'BEGIN{FS="|"}{if($(NF-2)=="32"){print  $0}}' > /home/cmcc/cuijian_test/rawdata
      
      
      gunzip -c STBPROGRAMINFO*.gz | awk  'BEGIN{FS="|"}{print  $10}' | more
      
      awk 'BEGIN{FS=" "}{if(($3 == 25 || $3 == 26 || $3 == 27) && $7=="[zhejiang]" ){print  $0}}' vsftp.log > zhejiang_vsftp.log
      
      awk 'BEGIN{FS=" "}{{print  $8}}' vsftp.log | more
    '''
  }
]
tags: []
isStarred: false
isTrashed: false
