createdAt: "2018-05-10T10:51:16.522Z"
updatedAt: "2018-05-21T09:03:14.886Z"
type: "SNIPPET_NOTE"
folder: "0a2024078fbd03e61b83"
title: ""
description: ""
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
